<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Hour Tracker</title>
</head>
<body>
    <header>

        <h1>Hour Tracker</h1>

    </header>

    <main>
        
        <div id="add_category_div">
            <form action="http://127.0.0.1:5000/add_category", method="post">
                <button type="submit">+</button>
                <input name="name" type="text" placeholder="Name of your category">
            </form>
        </div>

        <div id="categories_div">
            <ul id="category_list">
            {% for category in categories %}
            <li>
                <div id="category_div">
                    <h2>{{ category.name }}</h2>
                    <ul id="hour_list">
                        <li>
                            <form action="http://127.0.0.1:5000/add_hour" method="post">
                                <button name="name" value="{{ category.name }}" type="submit" id="hour_button">+</button>
                            </form>
                        </li>
                        {% for hour in category.hours %}
                        <li>
                            <input type="checkbox" id="hour_checkbox">
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            {% endfor %}
            </ul>
        </div>
    </main>
    
    <footer>
        <button>Go To Statistics</button>
    </footer>
</body>
</html>