<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Hour Tracker</title>
</head>
<body>
    <header>

        <h1>Hour Tracker</h1>

    </header>

    <main>
        
        <div id="add_category_div">
            <form action="{{ url_for('add_category') }}", method="post">
                <button type="submit">+</button>
                <input name="name" type="text" placeholder="Name of your category">
            </form>
            
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div id="category_error_div">
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

        </div>

        <div id="recent_categories_div">
            <h4>Recent categories:</h4>

            {% for category_name in recent_category_names %}
                <form action="{{ url_for('add_category') }}" method="post">
                    <button id="recent_category_button" type="submit">{{ category_name }}</button>
                    <input type="hidden" name="name" value="{{ category_name }}">
                </form>
            {% endfor %}
        </div>

        <div id="categories_div">
            <ul id="category_list">
            {% for category in categories %}
            <li>
                <div id="category_div">
                    <h2>{{ category.name }}</h2>
                    <ul id="hour_list">
                        <li>
                            <form action="{{ url_for('add_hour') }}" method="post">
                                <button name="name" value="{{ category.name }}" type="submit" id="hour_button">+</button>
                            </form>
                        </li>
                        {% for i in range(category.hours|length) %}
                        <li>
                            <form id = "{{ category.name }} : {{ i }}" action="{{ url_for('set_hour') }}" method="post">
                                {% if category.hours[i] == 0 %}
                                <input name="{{ category.name }}:{{ i }}" type="checkbox" id="hour_checkbox" onchange="document.getElementById('{{ category.name }} : {{ i }}').submit()">
                                {% else %}

                                <input name="{{ category.name }}:{{ i }}" type="checkbox" checked=checked id="hour_checkbox" onchange="document.getElementById('{{ category.name }} : {{ i }}').submit()">

                                <input type="hidden" name="{{ category.name }}:{{ i }}" value="off" />
                                {% endif %}
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            {% endfor %}
            </ul>
        </div>
    </main>
    
    <footer>
        <form action="{{ url_for('stats') }}">
            <button type="submit">Go To Statistics</button>
        </form>
    </footer>
</body>
</html>