<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Hour Tracker</title>
</head>
<body>
    <header>

        <h1>Hour Tracker</h1>

    </header>

    <main>
        
        <div id="login_div">
            <form action="{{ url_for('seek_authorization') }}", method="post">
                <div id="login_row">
                    <h2>user name:</h2>
                    <input name="username" type="text">
                </div>
                
                <div id="login_row">
                    <h2>password:</h2>
                    <input name="password" type="password">
                </div>

                <div id="login_row">
                    <button type="submit">submit</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>