<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Hour Tracker</title>
</head>
<body>
    <header>

        <h1>Hour Tracker</h1>

    </header>

    <main>
        
        <div id="stats_div">
            
            <div id="img_nav_div">
                <button onclick="leftClicked();">&lt;</button>
            </div>

            <img src="{{ url_for('static', filename='stats_images/hours_worked_today.png') }}" alt="Stats" id="image_display">

            <div id="img_nav_div">
                <button onclick="rightClicked();">&gt;</button>
            </div>
        </div>

    </main>

    <footer>
        <form action="{{ url_for('home') }}">
            <button type="submit">Back to menu</button>
        </form>
    </footer>

    <script type="text/javascript">

        var indexToImage = 0;
        var imageDisplay = document.getElementById("image_display");
        var basePath = "{{ url_for('static', filename='stats_images') }}";

        map = {
            0: "hours_worked_today.png",
            1: "hours_last_week.png",
            2: "work_distribution_last_week.png"
        }

        mapSize = Object.keys(map).length;

        function updateImage(){
            var fileName = map[indexToImage];
            imageDisplay.src = `${basePath}/${fileName}`;
        }

        function leftClicked(){
            indexToImage = (indexToImage - 1 + mapSize) % mapSize;
            updateImage();
        }

        function rightClicked(){
            indexToImage = (indexToImage + 1) % mapSize;
            updateImage();
        }

    </script>
</body>
</html>