<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Hour Tracker</title>
</head>
<body>
    <header>

        <h1>Hour Tracker</h1>

    </header>

    <main>
        
        <div id="stats_div">
            
            <div id="img_nav_div">
                <button>&lt;</button>
            </div>

            <img src="{{ url_for('static', filename='stats_images/hours_worked_today.png') }}" alt="Stats">

            <div id="img_nav_div">
                <button>&gt;</button>
            </div>
        </div>

    </main>

    <footer>
        <form action="{{ url_for('home') }}">
            <button type="submit">Back to menu</button>
        </form>
    </footer>
</body>
</html>